.phone-image {
  width: 250px;
  height: 250px;
}
.phone-favicon {
  cursor: pointer;
}
.phone-image-container {
  display: flex;
  justify-content: center;
}
.phone-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #797979;
  margin-top: 15px;
}
.phone-details-container {
  display: flex;
  justify-content: space-around;

  font-size: 18px;
  line-height: 20px;
  margin-top: 45px;
}
.phone-price {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 23px;
  line-height: 26px;
  color: #2e3451;
}
.actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.action-buy {
  background: #da2533;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 11px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  margin-right: 25px;
}
.action-buy:hover {
  background: #797979;
  color: #fff;
}

.modal-body {
  font-size: 17px;
  line-height: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
}
