.wrapper {
  background: url(../img/background.jpg) no-repeat center center fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  height: 58px;

  padding-left: 79px;
  padding-right: 79px;
}

.header-logo-link {
  text-decoration: none;
}

.header-logo-style {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}

.header-right-section {
  display: flex;
  align-items: center;
}

.header-hr {
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  border: none;
}

.header-right-spacing {
  margin-left: 25px;
}

.header-account-section {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.account-link-decoration {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.header-svg-hover:hover {
  fill: green;
}

.header-svg-hover {
  fill: white;
}

.header-hover-accent:hover {
  color: #01813f;
}

.form {
  width: 444px;
  height: 584px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  display: flex;
}

.form-container {
  width: 324px;
  margin-right: auto;
  margin-left: auto;
}

.form-login {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
}

.top-login {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.signup-heading {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.login-link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}

.login-link:hover {
  color: #01813f;
}

.bottom-login {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.facebook-login {
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  background: #305db8;
  border-radius: 4px;
  text-decoration: none;
}

.facebook-login:hover {
  background: #022263;
}

.facebook-logo-image {
  margin-left: 16.77px;
}

.facebook-login-link {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 22px;
}

.facebook-hr-spacing {
  margin-left: 18.77px;
}

.google-login {
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  background: #df4a32;
  border-radius: 4px;
  text-decoration: none;
}

.google-login:hover {
  background: #ab1f09;
}

.google-hr-spacing {
  margin-left: 7px;
}

.google-login-link {
  margin-right: 27px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.google-logo-image {
  margin-left: 12px;
}

.form-login-hr {
  width: 1px;
  height: 28px;
  border: none;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.separation {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}

.separation-hr {
  width: 152px;
  height: 1px;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  background: #f2f2f2;
}

.signup-heading::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  top: 32px;
  left: 0;
}

.form-data {
  min-width: 304px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 7.5px 0 7.5px 0;
  padding: 0 0 0 20px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.form-data:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

  outline: none;
}

.form-data::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.terms-text {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-left: 6px;
}

.terms-link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}

.terms-link:hover {
  text-decoration: underline;
  color: #01813f;
}

.terms-spacing {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 12px;
  margin-bottom: 20px;
}

.signup-button {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: none;
}

.signup-button:hover {
  background: #01813f;
  outline: none;
}

.signup-button:focus {
  outline: none;
}
