.footer {
  background: #000000;
}

.footer__header {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #fefefe;
  padding-top: 66px;
  padding-bottom: 22px;
  @media (max-width: 768px) {
    padding-top: 57px;
  }
  @media (max-width: 320px) {
    font-size: 14px;
    padding-top: 38px;
    padding-bottom: 8px;
  }
}

.footer__description {
  font-size: 16px;
  line-height: 28px;
  color: #b9b9b9;
  padding-bottom: 37px;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (max-width: 320px) {
    display: none;
  }
}
.footer-description--320px {
  display: none;
  @media (max-width: 320px) {
    display: block;
    padding-bottom: 26px;
    font-size: 12px;
    line-height: 20px;
    color: #b9b9b9;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.footer__socials {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;

  @media (max-width: 320px) {
    padding-bottom: 25px;
  }
}
.socials__image {
  &:not(:last-child) {
    margin-right: 6px;
  }
}
.footer__contacts {
  font-size: 16px;
  line-height: 26px;
  color: #b9b9b9;
  justify-content: center;
  display: flex;
  padding-bottom: 70px;

  @media (max-width: 768px) {
    padding-bottom: 56px;
  }
  @media (max-width: 320px) {
    display: none;
  }
}

.footer__contacts--320px {
  display: none;
  @media (max-width: 320px) {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 47px;
    color: #b9b9b9;
    justify-content: center;
    display: flex;
    text-align: center;
  }
}
