*,
*::after,
*::before {
  box-sizing: border-box;
}

.page__body {
  font-family: $font;
}

.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    max-width: 768px;
  }
  @media (max-width: 320px) {
    max-width: 320px;
  }
}
