.header {
  position: relative;
}
.header__nav {
  position: relative;

  padding-top: 45px;
  @media (max-width: 768px) {
    padding-top: 41px;
  }
}

.header__menu {
  position: relative;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    box-sizing: border-box;
    flex-direction: column;

    align-items: flex-end;
  }
}

.menu__item {
  &:nth-child(2) {
    display: none;
  }
  white-space: nowrap;
  align-items: flex-start;

  &:nth-child(n + 3) {
    margin-right: 5%;
  }
  &:nth-child(9) {
    margin-right: 0;
  }
  &:first-child {
    display: none;
  }
  @media (max-width: 768px) {
    &:nth-child(n + 3) {
      display: none;
      width: 182px;
      padding: 5px 50px 5px 12px;
      background: #f5f5f5;
      margin-right: 0;
    }

    &:hover {
      background: #e5e5e5;
    }
    &:nth-child(2) {
      padding: 0;
      background: none;
    }
    &:first-child {
      display: block;
    }
  }
}

.menu__link {
  @extend %list-reset;
  width: 20px;
  color: $accentColor;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  white-space: nowrap;

  &:hover {
    color: #57a4a4;
  }
  @media (max-width: 768px) {
    line-height: 11px;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.header__image {
  margin-right: auto;
  margin-left: auto;
  padding-top: 51px;
  width: 100%;
  height: 100%;
  @media (max-width: 768px) {
    padding-top: 23px;
  }
}

.header__image--1200 {
  @media (max-width: 768px) {
    display: none;
  }
  @media (max-width: 320px) {
    display: none;
  }
}

.header__image--768 {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  @media (max-width: 320px) {
    display: none;
  }
}

.header__image--320 {
  display: none;
  @media (max-width: 320px) {
    display: block;
  }
}
.header__burger {
  cursor: pointer;
  font-size: 45px;
}

.header__burger--closed {
  @media (min-width: 768px) {
    display: none;
  }
}
