.posts__header {
  padding-top: 66px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 22px;
  color: $accentColor;
  font-weight: bold;
  @media (max-width: 320px) {
    padding-top: 56px;
    padding-bottom: 24px;
  }
  @media (max-width: 320px) {
    padding-top: 38px;
    padding-bottom: 23px;
  }
}
.posts__list {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}
.posts__item {
  display: flex;

  flex-wrap: wrap;
  margin-bottom: 32px;
}

.posts__information {
  width: 410px;
  padding-left: 20px;

  @media (max-width: 600px) {
    width: 300px;
  }
  @media (max-width: 490px) {
    padding-left: 0;
  }
  @media (max-width: 320px) {
    padding-left: 0;
    width: 250px;
  }
}

.posts__title {
  color: $accentColor;
  font-weight: bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  @media (max-width: 600px) {
    margin-top: 11px;
  }
}

.posts__details {
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
  margin-top: 5px;
}

.posts__description {
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  margin-top: 10px;
  @media (max-width: 600px) {
    display: none;
  }
}
