<footer class="page__footer footer">
  <div class="footer__wraper">
    <div class="footer__container">
      <h2 class="footer__heading">Fork Subscription Pricing</h2>
      <ul class="footer__list">
        <li class="footer__item">
          <h2 class="footer__item-name footer__item-name1--padding">
            Students
          </h2>
          <p class="footer__price">$29</p>
          <p class="footer__price-name footer__price-name1--padding">
            per month
          </p>
          <p class="footer__about footer__about1--padding">Personal License</p>
          <a href="#" class="footer__link">purchase</a>
        </li>
        <li class="footer__item">
          <h2 class="footer__item-name footer__item-name2--padding">
            professional
          </h2>
          <p class="footer__price">$59</p>
          <p class="footer__price-name footer__price-name2--padding">
            per month
          </p>
          <p class="footer__about">
            Professional License<br />
            Email Support
          </p>
          <a href="#" class="footer__link">purchase</a>
        </li>
        <li class="footer__item footer__item--active">
          <h2 class="footer__item-name footer__item-name--active">agency</h2>
          <p class="footer__price footer__price--active">$99</p>
          <p class="footer__price-name footer__price-name--active">per month</p>
          <p class="footer__about footer__about--active">
            1-12 Team Members<br />Phone Support
          </p>
          <a href="#" class="footer__link footer__link--active">purchase</a>
        </li>
        <li class="footer__item">
          <h2 class="footer__item-name footer__item-name4--padding">
            enterprise
          </h2>
          <p class="footer__price">$159</p>
          <p class="footer__price-name footer__price-name4--padding">
            per month
          </p>
          <p class="footer__about">
            Unlimited Team Members<br />
            24/ 7 Phone Support
          </p>
          <a href="#" class="footer__link">purchase</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
