<header class="header">
  <div class="header__upperside">
    <div class="header__container">
      <nav class="navbar">
        <div class="navbar__logo navbar__section">
          <div class="navbar__image"></div>

          <h2 class="navbar__heading">FORKIO</h2>
        </div>
        <ul class="navbar__menu navbar__section">
          <li class="menu__item">
            <a href="#!" class="menu__link">Overview</a>
          </li>
          <li class="menu__item">
            <a href="#!" class="menu__link">About Fork</a>
          </li>
          <li class="menu__item">
            <a href="#!" class="menu__link">Buying Options</a>
          </li>
          <li class="menu__item">
            <a href="#!" class="menu__link">Support</a>
          </li>
        </ul>
        <a href="#!" class="navbar__buy navbar__section">Buy Now</a>
        <div class="menu__toggle">
          <div class="navbar__burger">
            <div class="burger__line--first"></div>
            <div class="burger__line--second"></div>
            <div class="burger__line--second"></div>
          </div>
          <div class="navbar__cross"></div>
        </div>
      </nav>
      <h1 class="header__heading">Fork App</h1>
      <p class="header__description">
        A real gamechanger in the world of web development
      </p>
      <p class="header__specifications">v. 2.8 For Mac and Windows</p>

      <a href="#!" class="header__download">Download For Free Now</a>
    </div>
  </div>
  <div class="header__lowerside lowerside">
    <div class="header__container">
      <p class="lowerside__details">Unlimited 30-Days Trial Period</p>
    </div>
  </div>
</header>
