<section class="testimonials">
    <div class="testimonials__container">
      <h2 class="testimonials__header">People Are Talking About Fork</h2>
      <ul class="testimonials__list">
        <li class="testimonials__item">
          <img
            src="img/testimonials-logo1.png"
            alt=""
            class="testimonials__logo"
          />
          <p class="testimonials__description">
            Sed vestibulum scelerisque urna, eu finibus leo facilisis sit
            amet. Proin id dignissim magna. Sed varius urna et pulvinar
            venenatis.
          </p>
        </li>
        <li class="testimonials__item">
          <img
            src="img/testimonials-logo2.png"
            alt=""
            class="testimonials__logo"
          />
          <p class="testimonials__description">
            Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
            rhoncus molestie neque ac, mollis eleifend nibh.
          </p>
        </li>
        <li class="testimonials__item">
          <img
            src="img/testimonials-logo3.png"
            alt=""
            class="testimonials__logo"
          />
          <p class="testimonials__description">
            In efficitur in velit et tempus. Duis nec odio dapibus, suscipit
            erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac
            vehicula.
          </p>
        </li>
        <li class="testimonials__item">
          <img
            src="img/testimonials-logo4.png"
            alt=""
            class="testimonials__logo"
          />
          <p class="testimonials__description">
            Sed vestibulum scelerisque urna, eu finibus leo facilisis sit
            amet. Proin id dignissim magna. Sed varius urna et pulvinar
            venenatis.
          </p>
        </li>
        <li class="testimonials__item">
          <img
            src="img/testimonials-logo5.png"
            alt=""
            class="testimonials__logo"
          />
          <p class="testimonials__description">
            Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
            Nulla faucibus lorem id arcu consequat faucibus.
          </p>
        </li>
        <li class="testimonials__item">
          <img
            src="img/testimonials-logo6.png"
            alt=""
            class="testimonials__logo"
          />
          <p class="testimonials__description">
            Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
            Pellentesque porttitor cursus massa et vestibulum.
          </p>
        </li>
      </ul>
      <p class="testimonials__footer">
        Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
        facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu
        libero tincidunt consequat nec elementum orci. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
      <hr class="testimonials__hr" />
    </div>
  </section>
