.body {
  font-family: Roboto, serif, sans-serif, Arial, Helvetica;
}

.body-limit {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-bottom: 38px;
}
.logo-link {
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: #000000;
}

.logo-style {
  color: rgb(75, 202, 255);
}

.navbar-list {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #35444f;
  margin-bottom: 50px;
}

.navbar-list-item {
  padding: 26px 40px 19px 40px;
  border: 1px solid #ffffff;
}

.navbar-list-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.left-menu {
  display: inline-block;
  border: 1px solid #000000;
  list-style: none;
  justify-content: space-around;
  width: 344px;
  height: 399px;
  margin-top: 0;
  padding-left: 18px;
}

.left-menu-item {
  padding: 26px;
}

.left-menu-link {
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #495863;
}

.right-main-section {
  width: 885px;
}

.image-container {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
}
.main-image {
  margin: 75px 268px 73px 297px;
}

.first-text-spacing {
  margin-top: 37px;
  margin-bottom: 34px;
}

.second-text-spacing {
  margin-top: 0;
  margin-bottom: 54px;
}

.text-style {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(99, 105, 110, 0.48);
  height: 69px;
}

.footer-list {
  display: flex;
  align-items: baseline;
  list-style: none;
}

.footer-list-item {
  padding-right: 27px;
}

.footer-list-link {
  text-decoration: none;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer-copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-right: 40px;
}

.footer-list-first-item {
  padding-left: 27px;
}
