.root {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  width: 320px;
}
.card_info {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.card_info_item {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.card_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.card_text_heading {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.card_text_body {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.close_button {
  margin-bottom: 15px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
