.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 25px;
}

.button-blue {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}
.button-blue:hover {
  background-color: #008cba;
  color: white;
}
.button-red {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}
.button-red:hover {
  background-color: #f44336;
  color: white;
}
