.button {
  background: #da2533;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 11px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  margin-right: 25px;
}
.button:hover {
  background: #797979;
  color: #fff;
}
