@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/dist/fonts/MontserratRegular.woff") format(woff);
  src: url("/dist/fonts/MontserratRegular.woff2") format(woff2);
  src: url("/dist/fonts/MontserratBold.woff") format(woff);
  src: url("/dist/fonts/MontserratBold.woff2") format(woff2);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/dist/fonts/LatoBold.woff") format(woff);
  src: url("/dist/fonts/LatoBold.woff2") format(woff2);
  src: url("/dist/fonts/LatoRegular.woff") format(woff);
  src: url("/dist/fonts/LatoRegular.woff2") format(woff2);
  src: url("/dist/fonts/LatoBoldItalic.woff") format(woff);
  src: url("/dist/fonts/LatoBoldItalic.woff2") format(woff2);
}
