.page__footer.footer {
}
.footer__wraper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../img/footerBg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
  @media (max-width: 320px) {
    min-width: 320px;
  }
}
.footer__container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
  @media (max-width: 992px) {
    max-width: 740px;
  }
  @media (min-width: 1201px) {
    max-width: 1180px;
  }
  @media (max-width: 320px) {
    min-width: 300px;
  }
  @media (max-width: 480px) {
    max-width: 300px;
  }
}
.footer__heading {
  padding: 113px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  @media (max-width: 992px) {
    font-size: 42px;
    line-height: 44px;
    padding: 90px 0 39px;
  }
  @media (max-width: 480px) {
    font-size: 28px;
    line-height: 42px;
    padding: 2px 0 32px;
  }
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 125px;
  @media (max-width: 992px) {
    padding-bottom: 94px;
  }
  @media (max-width: 480px) {
    padding-bottom: 0;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.11);
  transition: 0.2s linear;
  align-self: center;
  &:not(:last-child) {
    margin-right: 15px;
  }
  &:hover {
    background-color: rgba(70, 48, 72, 1);
    .footer__item-name {
      background-color: rgba(0, 0, 0, 0.11);
    }
  }
  &--active {
    background-color: rgba(70, 48, 72, 1);
    .footer__item-name--active {
      background-color: rgba(0, 0, 0, 0.11);
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 30px;
    &:last-child {
      margin-right: 43px;
    }
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  @media (max-width: 673px) {
    &:last-child {
      margin-right: 10px;
    }
  }
  @media (max-width: 480px) {
    margin-bottom: 18px;
    &:not(:last-child) {
      margin-right: 0px;
    }
    &:nth-child(2) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.footer__item-name {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.06);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  &--active {
    padding: 43px 96px;
    @media (max-width: 1119px) {
      padding: 43px 79px;
    }
    @media (max-width: 992px) {
      padding: 43px 96px;
    }
    @media (max-width: 673px) {
      padding: 43px 61px;
    }
    @media (max-width: 480px) {
      padding: 43px 96px;
    }
  }
}

.footer__item-name1--padding {
  padding: 36px 61px;
  @media (max-width: 1119px) {
    padding: 36px 44px;
  }
  @media (max-width: 992px) {
    padding: 43px 61px;
  }
  @media (max-width: 673px) {
    padding: 36px 40px;
  }
  @media (max-width: 480px) {
    padding: 36px 61px;
  }
}

.footer__item-name2--padding {
  padding: 36px 30px;
  @media (max-width: 1119px) {
    padding: 36px 11px;
  }
  @media (max-width: 992px) {
    padding: 43px 30px;
  }
  @media (max-width: 673px) {
    padding: 36px 8px;
  }
  @media (max-width: 480px) {
    padding: 36px 30px;
  }
}
.footer__item-name4--padding {
  padding: 36px 49px;
  @media (max-width: 1119px) {
    padding: 36px 32px;
  }
  @media (max-width: 992px) {
    padding: 43px 49px;
  }
  @media (max-width: 673px) {
    padding: 36px 27px;
  }
  @media (max-width: 480px) {
    padding: 36px 49px;
  }
}

.footer__price {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 90px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 20px;
  &--active {
    font-size: 82px;
    padding: 30px 0 20px;
  }
}

.footer__price-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  position: relative;
  &::after {
    content: '';
    width: 60px;
    height: 5px;
    background-color: rgba(141, 129, 172, 1);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 38px;
    text-align: center;
  }
}

.footer__price-name1--padding {
  &::after {
    top: 52px;
  }
}
.footer__price-name2--padding {
  &::after {
    top: 57px;
  }
}
.footer__price-name--active {
  &::after {
    top: 58px;
  }
}
.footer__price-name4--padding {
  &::after {
    top: 58px;
  }
}
.footer__about {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 73px 0 52px;
  &--active {
    padding: 87px 0;
  }
}

.footer__about1--padding {
  padding: 73px 0 70px;
}
.footer__link {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  padding: 14px 36px;
  margin-bottom: 36px;
  &--active {
    font-size: 16px;
    line-height: 18px;
    padding: 19px 47px;
    margin-bottom: 47px;
  }
}
