.header {
  font-family: $main-font;
  box-sizing: border-box;
}

.header__container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @media (max-width: 993px) {
    max-width: 993px;
  }
}

.header__upperside {
  background: url("../img/header-1200px.png") no-repeat center center fixed;
  background-size: cover;
  padding-left: 90px;
  padding-right: 90px;
  @media (max-width: 993px) {
    padding-right: 0px;
    padding-left: 0px;
    background-size: cover;
    background: url("../img/header-768px.png") no-repeat center center fixed;
  }
  @media (max-width: 480px) {
    padding-right: 0px;
    padding-left: 0px;
    background-size: cover;
    background: url("../img/header-320px.png") no-repeat center center fixed;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 29.5px;
  position: relative;
  @media (max-width: 993px) {
    background: #27262a;
    padding-top: 22px;
  }
  @media (max-width: 480px) {
    padding-top: 32px;
    padding-bottom: 32px;
    align-content: center;
    align-items: center;
  }
}

.navbar__upper {
  display: flex;
  justify-content: space-between;
}
.navbar__logo {
  display: flex;
  @media (max-width: 993px) {
    order: -2;
    flex: 1 0 50%;
    margin-left: 20px;
  }
  @media (max-width: 480px) {
    order: -2;
    flex: 1;
    margin-left: 0px;
    max-width: 60px;
  }
}
.navbar__image {
  width: 43px;
  height: 41px;
  margin-right: 17px;

  background-image: url("../img/header-logo-1200px.png");

  @media (max-width: 480px) {
    margin-right: 0;
    margin-left: 16px;
  }
}
.navbar__logo {
  cursor: pointer;
}
.navbar__logo:hover .navbar__image,
.navbar__logo:hover .navbar__heading {
  color: #ffffff;
}

.navbar__logo:hover .navbar__image {
  background-image: url("../img/logo-hover-1200px.png");
}

.navbar__heading {
  font-family: $second-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: #8d81ac;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  &:hover {
    color: #ffffff;
  }
  @media (max-width: 480px) {
    display: none;
  }
}

.navbar__menu {
  display: flex;

  justify-content: flex-end;
  flex-grow: 2;
  @media (max-width: 993px) {
    justify-content: space-evenly;
  }
  @media (max-width: 480px) {
    display: none;
    position: absolute;
    bottom: -527px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333333;
    max-width: 290px;
  }
}

.menu__item {
  margin-right: 48px;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  @media (max-width: 1060px) {
    margin-right: 25px;
  }
  @media (max-width: 993px) {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  @media (max-width: 480px) {
    margin-top: 0;
    margin-bottom: 0;
    width: 291.9px;
    height: 88px;
  }
}

.menu__link {
  @extend %list-reset;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #8d81ac;
  &:hover {
    color: #ffffff;
  }
  @media (max-width: 480px) {
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    font-weight: normal;
    white-space: nowrap;
    &:hover {
      color: #8d81ac;
    }
    margin-left: 35px;
  }
}

.menu__toggle {
  display: none;
  @media (max-width: 480px) {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 15px;
    width: 26px;
  }
}

.menu__item:focus-within::before {
  @media (max-width: 480px) {
    content: " ";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 53px;
    background-color: #8d81ac;
  }
}
.navbar__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  background: #8d81ac;
  border-radius: 40px;
  width: 145px;
  height: 37px;
  border: 1px solid transparent;
  &:hover {
    background: #ffffff;
    border: 1px solid #8d81ac;
    color: #8d81ac;
  }
  @media (max-width: 993px) {
    order: -1;

    margin-right: 20px;
  }
  @media (max-width: 480px) {
    width: 119px;
    height: 37px;
    margin-right: 17px;
  }
}

.burger__line--first {
  @media (max-width: 480px) {
    width: 15px;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
  }
}
.burger__line--second {
  @media (max-width: 480px) {
    width: 26px;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 6px;
  }
}

.navbar__cross {
  width: 22.5px;
  height: 23px;
  display: none;
}
.navbar__cross:before,
.navbar__cross:after {
  position: absolute;
  right: 25px;
  top: 35px;
  // position: relative;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #ffffff;
}
.navbar__cross:before {
  transform: rotate(45deg);
}
.navbar__cross:after {
  transform: rotate(-45deg);
}
.header__heading {
  font-weight: bold;
  font-size: 82px;
  line-height: 82px;
  color: #ffffff;
  padding-top: 125px;
  text-align: center;
  @media (max-width: 993px) {
    font-size: 72px;
    line-height: 72px;
  }
  @media (max-width: 480px) {
    font-size: 48px;
    line-height: 48px;
  }
}

.header__description {
  font-family: $second-font;
  color: #8d81ac;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding-top: 19px;
  @media (max-width: 993px) {
    font-size: 24px;
    line-height: 24px;
  }
  @media (max-width: 480px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.header__specifications {
  font-size: 16px;
  line-height: 16px;
  color: #848e97;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 459px;
  @media (max-width: 993px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.header__download {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #8d81ac;
  border-radius: 40px;
  width: 390px;
  height: 62px;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #8d81ac;
  &:hover {
    color: #8d81ac;
    background: #ffffff;
    border: 2px solid #8d81ac;
  }
  @media (max-width: 480px) {
    bottom: -50px;
    width: 290px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
  }
}

.lowerside__details {
  font-size: 14px;
  line-height: 15px;
  color: #848e97;
  margin-top: 48px;
  text-align: center;
  padding-bottom: 66px;
  @media (max-width: 993px) {
    padding-bottom: 5.5px;
  }
  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 14px;
  }
}
