.testimonials {
  background: url("../img/testimonials-1200px.png") no-repeat center center
    fixed;
  background-size: cover;
  font-family: $main-font;
  box-sizing: border-box;
}

.testimonials__container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 29px;
  @media (max-width: 993px) {
    padding-bottom: 11px;
  }
}

.testimonials__header {
  text-align: center;
  padding-top: 109px;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  margin-right: 15px;
  margin-left: 15px;
  @media (max-width: 993px) {
    font-size: 42px;
    line-height: 44px;
  }
  @media (max-width: 993px) {
    padding-top: 86px;
  }
  @media (max-width: 480px) {
    padding-top: 57px;
    font-size: 36px;
    line-height: 48px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.testimonials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 82px;
  margin-right: 10px;
  margin-left: 10px;
  @media (max-width: 480px) {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.testimonials__item {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  &:nth-child(n + 4) {
    margin-top: 115px;
  }
  @media (max-width: 993px) {
    width: 345px;

    &:nth-child(n + 4) {
      margin-top: 0;
    }
    &:nth-child(n + 3) {
      margin-top: 50px;
    }
  }
  @media (max-width: 715px) {
    width: 250px;
  }
  @media (max-width: 550px) {
    width: 230px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
  @media (max-width: 480px) {
    width: 350px;
    margin-top: 45px;
  }
}

.testimonials__description {
  text-align: center;
  font-family: $second-font;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 30px;

  @media (max-width: 993px) {
    margin-top: 25px;
  }
}

.testimonials__footer {
  font-size: 14px;
  line-height: 21px;
  color: #a291a5;
  margin-top: 118px;
  text-align: center;
  margin-right: 70px;
  margin-left: 70px;
  @media (max-width: 993px) {
    margin-top: 69px;
  }
  @media (max-width: 480px) {
    margin-right: 35px;
    margin-left: 35px;
  }
}

.testimonials__hr {
  width: 780px;
  height: 2px;
  background: #645766;
  margin-top: 15px;
  border: none;
  @media (max-width: 993px) {
    width: 555px;
  }
  @media (max-width: 720px) {
    width: 380px;
  }
  @media (max-width: 480px) {
    width: 245px;
  }
}
