.body {
  margin: 0;
  font-family: Montserrat;
}

.list-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  letter-spacing: 2.7px;
}

.list {
  list-style: none;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.list-item {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  color: #ff0000;
  letter-spacing: 2.7px;
}

.image {
  width: 100%;
  height: 789px;
}

.content-h2 {
  font-size: 22px;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 3.3px;
  width: 774px;
  color: #373737;
  margin-top: 48px;
  margin-bottom: 28px;
}

.content-p1 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  margin-bottom: 28px;
  margin-right: 67.5px;
  margin-left: 67.5px;
}

.content-p2 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  margin-right: 67.5px;
  margin-left: 67.5px;
}

.button {
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style {
  list-style: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.8px;
}

.button-position {
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer {
  text-align: right;
  margin-right: 105px;
}

.footer-style {
  letter-spacing: 2.4px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 82px;
  color: #373737;
}
