.error-message {
  color: red;
  padding-top: 5px;
}

.checkout-form {
}

.checkout-header {
  font-weight: bold;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
.form-list-item {
  padding-bottom: 8px;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
}

.form-field {
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  border-radius: 4px;
}
