.wrapper {
  max-width: 1366px;

  background-image: url(../img/wrapper-background.jpg);
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1030px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 17px;
}

.header-right {
  display: flex;
  position: relative;
  text-decoration: none;
}

.logo {
  width: 53px;
  height: 47px;
  background-image: url(../img/logo.png);
  margin-right: 8px;
}

.logo:hover .logo,
.header-right:hover .logo {
  background-image: url(../img/hover-logo.png);
}

.header-right:hover .hover-accent {
  color: #f26522;
}

.hover-accent:hover {
  color: #f26522;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-start;
}

.header-location {
  text-decoration: none;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 2.6px;
}

.header-description {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.header-left {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: space-between;
}

.header-left-style {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.tours-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  row-gap: 37px;
  column-gap: 61px;
}

.tours-list-link {
  display: block;
  text-decoration: none;
  position: relative;
}

.tours-list-image {
  display: block;
  width: 100%;
}

.tours-description {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding-top: 20px;
}

.tours-description:hover {
  color: #f26522;
}

.tours-description-link {
  text-decoration: none;
}

.tours-list-hover {
  width: 295px;
  height: 55px;
}

.tours-list-hover {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hover-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 55px;
  width: 302.66px;
  text-decoration: none;
  background: #f26522;
}

.tours-range-text {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  margin-top: 7px;
  margin-left: 16px;
}

.tours-price {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 8px;
  margin-left: 16px;
}

.tours-details {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 29px;
  margin-right: 37px;
  margin-bottom: 12px;
}

.tours-details::after {
  content: url(../img/arrow.png);
  margin-left: 30px;
}

.tours-list-hover {
  position: absolute;
  bottom: 37px;
  display: none;
}

.tours-list-item {
  position: relative;
}

.tours-list-item:hover .tours-list-hover {
  display: block;
}

.tours-description-link {
  text-decoration: none;
}

.footer-text {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 15px;
}
