.user-list {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}
.user-list-item {
  padding: 6px;
  font-weight: bold;
  font-size: 16px;
  line-height: 11px;
}
