.body {
  background-color: black;
}

.color-accent {
  color: #feda4a;
  line-height: 1.6;
}

.heading-center {
  text-align: center;
  margin-bottom: 70px;
}
.starwars-first-text {
  margin-bottom: 130px;
}

.starwars-board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(500px) rotateX(30deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 450%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

.starwars-board:after {
  position: absolute;
  content: " ";
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

.starwars-content {
  animation: scroll 30s linear infinite;
  position: absolute;
  top: 100%;
}

@keyframes scroll {
  0% {
    top: 100%;
  }

  100% {
    top: -20%;
  }
}
