.wrapper {
  font-family: Open Sans, sans-serif, Arial, Helvetica;
}

.container {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background: #313131;
  padding-left: 100px;
}

.navbar-left {
  display: flex;
}

.navbar-header-logo {
  margin: 22px 27px 21px 27px;
}

.navbar-header {
  display: flex;
  align-content: center;
  align-items: center;
}
.navbar-header-style {
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.navbar-mid-list {
  display: flex;
}

.navbar-mid-list-item {
  padding: 20px;
}

.navbar-mid-list-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.navbar-mid-list-link:hover {
  color: #14b9d5;
}

.search-zone {
  width: 68px;
  height: 70px;
  background: #000000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.header {
  background-image: url(../img/header-bg.jpeg);
  background-position: 65% 70%;
  background-size: cover;
  height: 369px;
  display: flex;
  align-content: space-between;
  align-items: center;
}

.header-container {
  margin-top: 70px;
}

.header-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.header-offers {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.header-offers-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  width: 170px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}

.offers-subscribe {
  background: #89ca62;
  margin-right: 20px;
}

.offers-article {
  background: #14b9d5;
}

.posts-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 50px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  height: 900px;
}

.posts-list-item {
  margin-bottom: 30px;
}

.posts-list-link-text {
  display: block;
  width: 370px;
  height: 61px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #353a3d;
  text-align: center;
}

.posts {
  background: #f2f2f2;
}

.clients {
  background-image: url(../img/parallax-bg.jpeg);
  height: 588px;
  background-size: cover;
  background-position: 10% 27%;
}

.clients-header {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  padding-top: 106px;
}

.clients-list {
  margin-top: 106px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.clients-hr {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  margin-top: 87px;
  border: none;
}
.clients-list-item {
  margin-right: 55px;
}

.top-rated-header {
  background: #e5e5e5;
}

.top-rated-list {
  display: grid;
  grid-auto-flow: column;
}

.top-rated-image {
  width: 100%;
}

.hot-news {
  background: rgba(0, 0, 0, 0.0001);
}

.news-container {
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 77px;
  background: rgba(0, 0, 0, 0.0001);
}

.news-item-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  padding-right: 13px;
}

.news-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-left: 14px;
}

.news-item-1 {
  grid-area: news-item-1;
}

.news-item-2 {
  grid-area: news-item-2;
}

.news-item-3 {
  grid-area: news-item-3;
}

.news-item-4 {
  grid-area: news-item-4;
}

.news-item-5 {
  grid-area: news-item-5;
}

.news-item-6 {
  grid-area: news-item-6;
}

.news-item-7 {
  grid-area: news-item-7;
}

.news-item-8 {
  grid-area: news-item-8;
}

.news-list {
  display: grid;
  row-gap: 45px;
  column-gap: 45px;
  grid-template-rows: 259px 418px 418px 259px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "news-item-1 news-item-1 news-item-1 news-item-2"
    "news-item-3 news-item-3 news-item-4 news-item-4"
    "news-item-5 news-item-5 news-item-6 news-item-6"
    "news-item-7 news-item-8 news-item-8 news-item-8";
}

.news-list-item {
  display: grid;
  grid-auto-flow: row;
}

.news-column {
  grid-auto-flow: column;
}

.news-item-description {
  display: grid;
  grid-auto-flow: row;

  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-column-description {
  text-align: end;
}

.news-row-description {
  text-align: center;
}

.news-special-text {
  margin-bottom: 30px;
  margin-right: 10px;
}

.news-special-header {
  margin-top: 30px;
  margin-right: 20px;
}

.news-middle-header {
  padding-top: 12px;
  padding-bottom: 15px;
}

.news-item-image {
  height: 100%;
}

.news-full-width-image {
  width: 100%;
}

.row-header {
  margin-top: auto;
  margin-bottom: auto;
}

.footer-align-zone {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  height: 80px;
}

.footer-zone {
  max-width: 1900px;
  background: #000000;
  height: 80px;
}

.footer-copyright {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  display: grid;
  align-content: center;
}

.footer-logo {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-content: center;
}
