.products-container {
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
}
.phones-header {
  font-weight: bold;
  font-size: 33px;
  line-height: 29px;
  margin-bottom: 35px;
  margin-top: 35px;
  text-align: center;
}
.phones-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}
.phones-item {
  width: 400px;
  border: 2px solid #797979;
  margin-bottom: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phones-item:hover .phone-name {
  color: #da2533;
}
