.modal-customized {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-body {
  margin-top: 15px;
  margin-bottom: 15px;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
